extends layout
block content
    .w3-top
      .w3-bar.w3-green.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);', onclick='myFunction()', title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='http://localhost:3000/') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='http://localhost:3000/users/registo') Registar
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='http://localhost:3000/users/login') Login
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='http://localhost:3000/contacts') Contactos
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-white(href='http://localhost:3000/about') Sobre
      // Navbar on small screens
      #navDemo.w3-bar-block.w3-white.w3-hide.w3-hide-large.w3-hide-medium.w3-large
        a.w3-bar-item.w3-button.w3-padding-large(href='http://localhost:3000/users/registo') Registar
        a.w3-bar-item.w3-button.w3-padding-large(href='http://localhost:3000/users/login') Login
        a.w3-bar-item.w3-button.w3-padding-large(href='http://localhost:3000/contacts') Contactos
        a.w3-bar-item.w3-button.w3-padding-large(href='http://localhost:3000/about') Sobre
    .w3-container(style='padding:128px 16px')
    header.w3-container
        h1 Sobre