extends layout
block content
    script(src='/javascripts/admin_profile.js')
    .w3-top
      .w3-bar.w3-red.w3-card.w3-left-align.w3-large
        a.w3-bar-item.w3-button.w3-hide-medium.w3-hide-large.w3-right.w3-padding-large.w3-hover-white.w3-large.w3-red(href='javascript:void(0);', onclick='myFunction()', title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large.w3-hover-white(href='http://localhost:3000/users/admin/homepage') Home
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white(href='http://localhost:3000/users/admin') Registar Administradores
        a.w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-white(href='http://localhost:3000/users/admin/profile') Atualizar password
    .w3-container(style='padding:60px 16px')
        h1.w3-red.w3-text-white Perfil de Administrador
    .w3-container
        .w3-card-4
            form( method='post' action='users/admin/profile/updatePassword')
                label
                    p.w3-text-indigo Nome
                input.w3-input.w3-border(type='text' id='nome' name='nome' value=userData.nome readonly)
                label
                    p.w3-text-indigo Email
                input.w3-input.w3-border(type='text'  id='email' name='email' value=userData.email readonly)
                label
                    p.w3-text-indigo Password Antiga
                input.w3-input.w3-border(type='password' id='oldPassword' name='oldPassword')
                label
                    p.w3-text-indigo Nova Password
                input.w3-input.w3-border(type='password' id='newPassword' name='newPassword')
                label
                    p.w3-text-indigo Confirmar Nova Password
                input.w3-input.w3-border(type='password' id='confirmNewPassword' name='confirmNewPassword')
                br
                input.w3-btn.w3-indigo.w3-center.w3-large(type='submit' id='atualizarPass' value='Atualizar Password')
    footer.w3-container
        p.w3-red.w3-text-white.w3-center Administração myFacebook